
@{
    ViewBag.Title = "Holiday_Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Holiday Master</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="Holiday_ID">ID</label>
                            <input type="text" class="form-control" disabled="disabled" id="Holiday_ID" placeholder="ID">
                        </div>
                        <div class="form-group">
                            <label for="Holiday_Name">Name</label>
                            <input type="text" class="form-control formrequired" id="Holiday_Name" placeholder="Name" autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label for="Start_Date">Start Date</label>
                            <input type="text" class="form-control formrequired"  id="Start_Date" />
                        </div>
                        <div class="form-group">
                            <label for="End_Date">End Date</label>
                            <input type="text" class="form-control formrequired"  id="End_Date" />
                        </div>
                        <div class="form-group">
                            <label for="HolidayStatus">Active</label>
                            <input checked="checked" id="Active" name="Status" type="radio" value="Active" style="width:35px;" />Active
                            <input id="DeActive" name="Status" type="radio" value="DeActive" style="width:35px;" /> DeActive
                        </div>
                        <div class="form-group">
                            <label for="Remark">Remark</label>
                            <input type="text" class="form-control" id="Remark" placeholder="Remark">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" id="btnSave" class="btn btn-primary" onclick="SaveForm()">Save</button>
                        <button type="button" id="btnClear" class="btn btn-primary" value="Clear" onclick="Clear()">Clear</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Holiday List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="width:90%; margin:0 auto;">
                        <input id="txtSearch" placeholder="General search" class="form-control" />
                        <div id="gridboxmap1" class="box-body table-responsive no-padding">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>
</section>


<script type="text/javascript">
    $(document).ready(function () {
        show_loader();
        display();
        hide_loader();
    });

    //$('#demoGrid').DataTable({
    //});

    function Clear() {
        $("#Holiday_ID").val("");
        $("#Holiday_Name").val("");
        $("#Remark").val("");
        $("#Active").prop("checked", true);
        $("#DeActive").prop("checked", false);
        $("#btnSave").text('Save');
        $("#btnSave").attr('class', 'btn btn-primary');
        document.getElementById('Holiday_Name').focus();
    }

    function GetFormDetails(Holiday_ID, Holiday_Name, Start_Date, End_Date, Active, Remark) {

        $("#Holiday_ID").val(Holiday_ID);
        $("#Holiday_Name").val(Holiday_Name);
        $("#Start_Date").val(Start_Date);
        $("#End_Date").val(End_Date);
        $("#Active").prop("checked", Active == "1" ? true : false);
        $("#DeActive").prop("checked", Active == "0" ? true : false);
        $("#Remark").val(Remark);
        $("#btnSave").text('Update');
        $("#btnSave").attr('class', 'btn btn-warning');
        document.getElementById('Holiday_Name').focus();
        debugger;
    }

    function SaveForm() {
        var isValid = true;
        $('.formrequired').each(function () {
            if ($.trim($(this).val()) == '') {
                isValid = false;
                $(this).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });
            }
            else {
                $(this).css({
                    "border": "",
                    "background": ""
                });
            }
        });

          if (isValid) {

            $.ajax({
                url: '@Url.Action("Holiday_SaveForm", "Master")',
                type: "POST",
                dataType: "json",
                data: JSON.stringify({
                    Holiday_ID: $("#Holiday_ID").val(), Holiday_Name: $("#Holiday_Name").val(), Start_Date: $("#Start_Date").val(), End_Date: $("#End_Date").val(),
                    Active: $("#Active").prop("checked"), Remark: $("#Remark").val()
                }),
                contentType: "application/json; charset=utf-8"
            }).done(function (data) {
                if (data.success) {
                    Clear();
                }
                bootbox.alert(data.message);
            });
        }
    }

    function display() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetHoliday_Master_List")',
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            success: function (json) {
                if (json) {
                    var tableHeaders = '';
                    var dynamicColumns = [];
                    var i = 0;
                    //var v = JSON(data)
                    $.each(json.List[0], function (key, value) {
                        tableHeaders += "<th>" + key + "</th>";

                        var obj = { sTitle: key, orderable: false };

                        dynamicColumns[i] = obj;
                        i++;
                    });

                    tableHeaders += "<th>Edit</th>";
                    var obj = { sTitle: "Select", orderable: false };
                    dynamicColumns[i] = obj;
                    i++;

                    $("#gridboxmap1").empty();
                    $("#gridboxmap1").append('<table id="tblExcelImport_Holiday" cellspacing="0" cellpadding="0" style="width: 100%; margin-bottom: 5px; white-space: nowrap;" class="table-bordered table-condensed table-striped grid"><thead class="uppercase"><tr>' + tableHeaders + '</tr></thead><tbody></tbody><tfoot></tfoot></table>');


                    //fetch all records from JSON result and make row data set.
                    var rowDataSet = [];
                    var i = 0;
                    $.each(json.List, function (key, value) {
                        var rowData = [];
                        var j = 0;
                        $.each(json.List[i], function (key, value) {
                            rowData[j] = value;
                            j++;
                        });
                        rowDataSet[i] = rowData;

                        i++;
                    });
                    var oTable = $('#tblExcelImport_Holiday').dataTable({
                        "bDestroy": true,
                        //"bFilter": false,
                        "serverSide": false,
                        "bInfo": true,
                        "bAutoWidth": false,
                        "bPaginate": true,
                        "bLengthChange": true,
                        //"fnPreDrawCallback": function () {
                        //    show_loader();
                        //},
                        //"fnDrawCallback": function () {
                        //    hide_loader();
                        //},
                        "bDestroy": true,
                        "bSort": true,
                        "sEmptyTable": "Loading data from server, Or Data Not Available...",
                        "aaData": rowDataSet,
                        //"aoColumns": dynamicColumns,
                        "columns": [
                              { "sWidth": "5%" },
                              { "sWidth": "50%" },
                              { "sWidth": "10%" },
                              { "sWidth": "35%" },
                              { "sWidth": "35%" },
                              { "sWidth": "35%" },
                              {
                                  "bSortable": false,
                                  "sWidth": "1%",
                                  "render": function (data, type, row, meta) {
                                      return '<center><a href="javascript:void(0);" onclick="GetFormDetails(' + row[0] + ',\'' + row[1] + '\',\'' + row[2] + '\',\'' + row[3] + '\',' + row[4] + ',\'' + row[5] + '\')" style="padding:5px;"><i class="fa fa-edit" style="color:#444;"></i></a></center>'
                                  }
                              }
                        ],
                        "columnDefs": [
           {
               "targets": [0],
               "visible": false
           }
                        ]
                    });
                    $('#tblExcelImport_Holiday_filter').hide();
                    $('#txtSearch').on('keyup', function () {
                        $('#tblExcelImport_Holiday')
                        .DataTable()
                        .search($('#txtSearch').val(), false, true)
                        .draw();
                    });
                    $('#txtSearch').on('change', function () {
                        $('#tblExcelImport_Holiday')
                        .DataTable()
                        .search($('#txtSearch').val(), false, true)
                        .draw();
                    });
                }
            },
            error: function (json) { alert("Error " + json) }
        });
    };


    $(function () {
        $("#Start_Date").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",
            dateFormat: 'dd-M-yy'
        });
    });

    $(function () {
        $("#End_Date").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",
            dateFormat: 'dd-M-yy'
        });

    });
</script>

