    @using UpKeep
@using UpKeep.Utility

@{
    ViewBag.Title = "UserMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-4">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Users</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="UserID">User ID</label>
                            <input type="text" class="form-control formrequired" autocomplete="off" id="UserID" placeholder="Enter User ID">
                        </div>
                        <div class="form-group">
                            <label for="UserName">User Name</label>
                            <input type="text" class="form-control formrequired" autocomplete="off" id="UserName" placeholder="Enter User Name">
                        </div>
                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control formrequired" id="Password" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <label for="EmailID">Email address</label>
                            <input type="email" class="form-control formrequired" autocomplete="off" id="EmailID" placeholder="Enter email" />
                            <span id="lblErrorEmail"></span>
                        </div>
                        <div class="form-group">
                            <label for="MobileNo">Mobile No</label>
                            <input type="number" class="form-control formrequired" autocomplete="off" id="MobileNo" placeholder="Enter Mobile">
                            <span id="lblError"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Employee Id</label>
                            <input type="number" class="form-control formrequired" autocomplete="off" id="EmployeeID" placeholder="Enter Employee ID">
                        </div>
                        <div class="form-group">
                            <label for="Status">Active</label>
                            <input checked="checked" id="Active" name="Status" type="radio" value="Active" style="width:35px;" />Active
                            <input id="DeActive" name="Status" type="radio" value="DeActive" style="width:35px;" /> DeActive
                        </div>
                        
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="button" id="btnSave" class="btn btn-primary" onclick="SaveForm()">Save</button>
                        <button type="button" id="btnClear" class="btn btn-primary" onclick="Clear()">Clear</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Users List</h3>
                </div>
                <div class="box-body">
                    <div style="width:90%; margin:0 auto;">
                        <input id="txtSearch" placeholder="General search" class="form-control" />
                        <div id="gridboxmap1" class="box-body table-responsive no-padding">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        show_loader();
        display();
        hide_loader();
    });

    //$('#demoGrid').DataTable({
    //});

    function SaveForm() {
        var isValid = true;
        $('.formrequired').each(function () {
            if ($.trim($(this).val()) == '') {
                isValid = false;
                $(this).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });
            }
            else {
                $(this).css({
                    "border": "",
                    "background": ""
                });
            }
        });

        var regex = /^(0|91)?[6-9][0-9]{9}$/;
        if (regex.test($("#MobileNo").val())) {
            $("#lblError").css("visibility", "hidden");
        } else {
            $('#lblError').html('Invalid Mobile Number.');
            $('#lblError').css('color', 'red');
            $("#lblError").css("visibility", "visible");
            isValid = false;
        }

        var regexemail = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (regexemail.test($("#EmailID").val())) {
            $("#lblErrorEmail").css("visibility", "hidden");
        } else {
            $('#lblErrorEmail').html('Invalid Email Address.');
            $('#lblErrorEmail').css('color', 'red');
            $("#lblErrorEmail").css("visibility", "visible");
            isValid = false;
        }

        if (isValid) {
            $.ajax({
                url: '@Url.Action("UserMaster_SaveForm", "Master")',
                type: "POST",
                dataType: "json",
                data: JSON.stringify({
                    UserName: $("#UserName").val(),
                    UserID: $("#UserID").val(),
                    Password: $("#Password").val(),
                    EmailID: $("#EmailID").val(),
                    MobileNo: $("#MobileNo").val(),
                    Emp_ID: $("#EmployeeID").val(),
                    Active: $("#Active").prop("checked"),
                    Client_ID : $(@SessionDetails.ClientSession.ID)
                }),
                contentType: "application/json; charset=utf-8"
            }).done(function (data) {
                if (data.success) {
                    Clear();
                    display();
                }
                bootbox.alert(data.message);
            });
        }
    }

    Clear();

    function Clear() {
        $("#UserID").val("");
        $("#UserName").val("");
        $("#Password").val("");
        $("#EmailID").val("");
        $("#MobileNo").val("");
        $("#EmployeeID").val("");
        $("#Active").val("");
        $("#btnSave").text('Save');
        $("#btnSave").attr('class', 'btn btn-primary');
        document.getElementById('UserID').focus();
    }

    function GetFormDetails(UserID, UserName, Password, EmailID, MobileNo, Emp_ID, Active, DeActive) {
        $("#UserID").val(UserID);
        $("#UserName").val(UserName);
        $("#Password").val(Password);
        $("#Active").prop("checked", Active == "1" ? true : false);
        $("#DeActive").prop("checked", DeActive == "0" ? true : false);
        $("#EmailID").val(EmailID);
        $("#MobileNo").val(MobileNo);

        $("#EmployeeID").val(Emp_ID);

        $("#btnSave").text('Update');
        $("#btnSave").attr('class', 'btn btn-warning');
        document.getElementById('UserID').focus();
    }

    function display() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetUser_List")',
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            success: function (json) {
                if (json) {
                    var tableHeaders = '';
                    var dynamicColumns = [];
                    var i = 0;
                    //var v = JSON(data)

                    tableHeaders += "<th>Edit</th>";
                    var obj = { sTitle: "Select", orderable: false };
                    dynamicColumns[i] = obj;
                    i++;

                    $.each(json.List[0], function (key, value) {
                        tableHeaders += "<th>" + key + "</th>";

                        var obj = { sTitle: key, orderable: false };

                        dynamicColumns[i] = obj;
                        i++;
                    });

                    $("#gridboxmap1").empty();
                    $("#gridboxmap1").append('<table id="tblExcelImport_User" cellspacing="0" cellpadding="0" style="width: 100%; margin-bottom: 5px; white-space: nowrap;" class="table-bordered table-condensed table-striped grid"><thead class="uppercase"><tr>' + tableHeaders + '</tr></thead><tbody></tbody><tfoot></tfoot></table>');

                    //fetch all records from JSON result and make row data set.
                    var rowDataSet = [];
                    var i = 0;
                    $.each(json.List, function (key, value) {
                        var rowData = [];
                        var j = 1;
                        $.each(json.List[i], function (key, value) {
                            rowData[j] = value;
                            j++;
                        });
                        rowDataSet[i] = rowData;

                        i++;
                    });

                    var oTable = $('#tblExcelImport_User').dataTable({
                        "bDestroy": true,
                        //"bFilter": false,
                        "serverSide": false,
                        "bInfo": true,
                        "bAutoWidth": false,
                        "bPaginate": true,
                        "bLengthChange": true,
                        //"fnPreDrawCallback": function () {
                        //    show_loader();
                        //},
                        //"fnDrawCallback": function () {
                        //    hide_loader();
                        //},
                        "bDestroy": true,
                        "bSort": true,
                        "sEmptyTable": "Loading data from server, Or Data Not Available...",
                        "aaData": rowDataSet,
                        //"aoColumns": dynamicColumns,
                        "columns": [
                             {
                                 "bSortable": false,
                                 "sWidth": "1%",
                                 "render": function (data, type, row, meta) {
                                     return '<center><a href="javascript:void(0);" onclick="GetFormDetails(\'' + row[2] + '\',\'' + row[3] + '\',\'' + row[4] + '\',\'' + row[5] + '\',\'' + row[6] + '\',\'' + row[8] + '\',\'' + row[7] + '\')" style="padding:5px;"><i class="fa fa-edit" style="color:#444;"></i></a></center>'
                                 }
                             },
                             { "sWidth": "1%" },
                             { "sWidth": "1%" },
                             { "sWidth": "1%" },
                             { "sWidth": "1%" },
                             { "sWidth": "1%" },
                             { "sWidth": "1%" },
                             { "sWidth": "1%" },
                             { "sWidth": "1%" }
                        ],
                        "columnDefs": [
                             //{ "targets": [1], "visible": false },
                             //{ "targets": [4], "visible": false }
                        ]
                    });
                    $('#tblExcelImport_User_filter').hide();
                    $('#txtSearch').on('keyup', function () {
                        $('#tblExcelImport_User')
                        .DataTable()
                        .search($('#txtSearch').val(), false, true)
                        .draw();
                    });
                    $('#txtSearch').on('change', function () {
                        $('#tblExcelImport_User')
                        .DataTable()
                        .search($('#txtSearch').val(), false, true)
                        .draw();
                    });
                }
            },
            error: function (json) { alert("Error " + json) }
        });
    }

</script>  